:root {
    --color_awaterra: #55a2dd;
    --color_botones: #176eb0;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo {
    width: 250px;
}

.contenedor {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tarjeta {
    position: absolute;
    min-height: 99%;
    min-width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    box-shadow: inset 0px 0px 35px -2px #55A2DD;
    border-radius: 14px;
}

.cajondebtn {
    height: 180px;
    width: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.boton {
    color: white;
    background-color: var(--color_botones);
    text-decoration: none;
    width: 320px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: none;
    font-size: 23px;
}

.cajonopc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: 180px;
}

.btnopciones {
    color: white;
    background-color: var(--color_botones);
    text-decoration: none;
    width: 280px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    gap: 15px;
    font-size: 23px;
}

.btnopciones i {
    font-size: 30px;
}

/*Para dar relleno en la parte izq.al horario de atención*/
.pie {
    padding-left: 10px;
}

.redes {
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.redes a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    text-decoration: none;
}

.redes i {
    font-size: 45px;
    border-radius: 10px;
}

#facebook {
    background-color: #3b5998;
    color: #fff;
}

#instagram {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    color: #fff;
}

/*Estilos para smartphones*/
@media screen and (min-width:320px) and (max-width: 768px) {
    .contenedor {
        position: fixed;
    }

    .btnopciones {
        width: 310px;
    }

    .tarjeta {
        min-width: 98%;
        box-shadow: inset 0px 0px 35px 20px #55A2DD;
    }

    .boton {
        font-size: 23px;
    }

    .logo {
        width: 190px;
    }

    .redes {
        width: 340px;
    }

}

/*Estilos para tablets y algunos telefonos*/
@media screen and (min-width:769px) and (max-width: 1024px) {

    .tarjeta {
        min-width: 98%;
        box-shadow: inset 0px 0px 35px 20px #55A2DD;
    }
}